<html>

<head>
    <title></title>
</head>
<body>
    <section class="demo">
        <h2>Demo</h2>
         <div id="map" class="pat-map-leaflet" data-pat-leaflet="url: 'http://geodata.nationaalgeoregister.nl/tms/1.0.0/brtachtergrondkaart/{z}/{x}/{y}.png' ;
                                              attribution: Kaartgegevens: © <a href='http://www.cbs.nl'>CBS</a>, <a href='http://www.kadaster.nl'>Kadaster</a>, <a href='http://openstreetmap.org'>OpenStreetMap</a>. ;
                                              max-zoom: 12;
                                              start-zoom: 9;
                                              min-zoom: 1;
                                              api-key: Fmjtd%7Cluub20uy2q%2Caw%3Do5-9urlq0;
                                              alt-text: Waterhoogte aanduiding in nederland;">

            <div class="maplocation" data-location="52.080956570675866, 4.306919574737549">
                <h3>Lopiker- en Krimpenerwaard</h3>
                <p>
                    Overstromingskans: groter dan 1 op 100 per jaar
                </p>
                <p>
                    Verwacht aantal slachtoffers: 5,3 per jaar
                </p>
                <p>
                    Verwachte schade: &euro;75.000.000,- per jaar
                </p>
            </div>
        </div>

        <div class="item card width-1" id="waterhoogte-in-omgeving">
            <h2>Waterhoogte in jouw omgeving</h2>

            <div class="content">
                <p>Bekijk de maximale waterhoogte in jouw omgeving bij een overstroming.</p>
                <form action="views/postcoderespons.html#map::element" class="pat-inject">
                    <fieldset>
                        <input class="postal-code" type="text" size="16" placeholder="Vul je postcode in">
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
</body>
</html>

