<html>

<head>
    <title></title>
</head>

<body>
    <section class="demo">
        <h2>Demo</h2>
        <!-- url: 'http://geodata.nationaalgeoregister.nl/tms/1.0.0/brtachtergrondkaart/{z}/{x}/{y}.png' ; -->
        <figure>
            <div id="map" class="pat-map-leaflet" data-pat-leaflet="config:lib/defaultlayers.xml; layerNames:BRT achtergrondkaart [tms],Maximale waterhoogte;">
                <div class="maplocation" data-location="51.948009,4.8437067" data-zoom="5">
                    <h3>2871GA Schoonhoven, Nederland</h3>
                    <p>
                        Overstromingsrisico: minder dan 1 meter.
                    </p>
                </div>
            </div>
            <div class="legend"> legenda </div>
        </figure>
        <div class="item card width-1" id="waterhoogte-in-omgeving">
            <div class="content">
                <form action="views/currentlocationrespons.html#map::element" class="pat-inject">
                    <fieldset class="postal-code-check">
                        <input class="postal-code" value="" name="postcode" type="text" size="16" placeholder="Vul je postcode in" />
                        <input type="hidden" value="waterhoogte_kaart" name="template" />
                        <button type="submit">Verstuur</button>
                    </fieldset>
                </form>
            </div>
        </div>
    </section>
</body>

</html>

